body {
    margin: 0 auto;
    background: linear-gradient(180deg, rgba(148,148,148,1) 0%, rgba(150,150,150,1) 100%);
}

main {
    margin-top: 15vh;
}

nav {
    width: 98%;
    display: flex;
    justify-content: space-between;
    background: #F0F0F0;
    padding: 0.5em 1em;
    position: fixed;
    top: 0;
    border-bottom: 0.5px solid #868686;
}

#logo {
    height: 4em;
    width: 8em;
    cursor: pointer;
}

#navbar {
    width: 20vw;
    font-size: 1.2em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#navbar a {
    font-family: 'Titillium Web', sans-serif;
    text-decoration: none;
    color: #171717;
}

#navbar a:hover {
    color: rgb(233, 156, 14);
    font-weight: bold;
    text-decoration: underline;
}

#titles {
    color: #FFFFFF;
    padding-left: 10em;
    text-shadow: 2px 2px 2px rgb(77, 77, 77);
}

h1 {
    font-family: 'Titillium Web', sans-serif;
    font-weight: normal;
    font-size: 5em;
    margin-bottom: -0.5em;
}

h2 {
    font-family: 'Oswald', sans-serif;
    font-weight: normal;
    font-size: 3em;
}

#intro {
    display: grid;
    width: 70%;
    grid-template-columns: 10em auto 10em 35em 2em;
    grid-template-rows: auto;
    grid-template-areas:
        ". . . introText ."
        ". portrait . introText ."
        ". sound . introText ."
        ". soundText . introText ."
        ". . . introText .";
}

#intro p {
    color: #FFFFFF;
    text-shadow: 2px 2px 2px rgb(77, 77, 77);
}

#portrait {
    grid-area: portrait;
}

#sound {
    width: 3em;
    padding: 0.5em;
    grid-area: sound;
    justify-self: center;
    margin-top: 1em;
    border-radius: 2em;
}

#soundText {
    font-family: 'Titillium Web', sans-serif;
    grid-area: soundText;
    justify-self: center;
    text-align: center;
}

#introText {
    font-family: 'Oswald', sans-serif;
    font-weight: lighter;
    font-size: 3em;
    grid-area: introText;
}

#contact {
    display: grid;
    grid-template-areas: ". content";
    grid-template-columns: 10vw 90vw;
}

#contactGroup {
    height: auto;
    width: 88.7vw;
    background-color: #F0F0F0;
    grid-area: content;
    border-radius: 0.5em 0 0 0.5em;
    padding-bottom: 5.5em;
}

#contactGroup h1 {
    padding-left: 1em;
}

#contactGroup h2 {
    padding-left: 2.7em;
    font-size: 2em;
}

#contactGroup span {
    font-weight: bold;
}

#contactItemsSection {
    padding-left: 2em;
    display: grid;
    grid-template-columns: 3em 5em auto auto;
    grid-template-areas:
        ". emailIcon contactEmail ."
        ". instagramIcon contactInstagram ."
        ". formIcon contactForm .";
}
#contactItemsSection span, #contactItemsSection img {
    cursor: pointer;
}

#contactItemsSection a {
    text-decoration: none;
    color: #171717;
}

#contactItemsSection a:hover {
    color: rgb(233, 156, 14);
    text-decoration: underline;
}

.contactItems {
    background: #D6D6D6;
    padding-left: 0.5em;
    margin: 5px 0;
    font-family: 'Oswald', sans-serif;
    width: 18em;
    font-size: 2em;
    border-radius: 0.2em;
}

#contactEmail {
    grid-area: contactEmail;
}

#contactInstagram {
    grid-area: contactInstagram;
}

#contactForm {
    grid-area: contactForm;
}

#contactEmailIcon {
    grid-area: emailIcon;
}

#contactInstagramIcon {
    grid-area: instagramIcon;
}

#contactFormIcon {
    grid-area: formIcon;
}

#caseStudiesSection {
    color: #FFFFFF;
    margin: -3em 0 0 15.8vw;
    text-shadow: 2px 2px 2px rgb(77, 77, 77);
}

#impactCaseStudy {
    margin: 3.5em 0 3em 0em;
    width: 27vw;
}
#design {
    margin: 0 0 3em 0;
    display: grid;
    grid-template-areas: ". content";
    grid-template-columns: 10vw 90vw;
}

#designSection {
    grid-area: content;
    width: 88.7vw;
    background-color: #F0F0F0;
    border-radius: 0.5em 0 0 0.5em;
    display: grid;
    grid-template-columns: 2.7fr 10fr 6fr 10fr 5fr;
    grid-template-rows: 0.8fr 2fr 2fr;
    grid-template-areas:
        ". design . . ."
        ". logIn . penguin ."
        ". workOut . . .";
    row-gap: 1em;
    padding-bottom: 5em;
}

.designItems {
    width: 25em;
}

#designSection a {
    width: 25em;
}

#designSection h1 {
    grid-area: design;
}
#loginDesign {
    grid-area: logIn;
}
#penguinDesign {
    grid-area: penguin;
}
#workoutDesign {
    grid-area: workOut;
}

#webdesign {
    margin: 0 0 0 8em;
}

#webdesignSection {
    margin-left: 5em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr 2fr 0.1fr; 
    grid-template-areas:
        "title title"
        "impact sourdough"
        "bakery wee ";
    row-gap: 5vw;
}

#webdesignSection h1 {
    color: #ECECEC;
    grid-area: title;
    text-shadow: 2px 2px 2px rgb(77, 77, 77);
}
#impactDesign {grid-area: impact;}
#sourdoughDesign {grid-area: sourdough;}
#bakeryDesign {grid-area: bakery;}
#weeDesign {grid-area: wee;}
#podcastDesign {grid-area: podcast;}

#webdesignSection a, #webdesignSection img {
    width: 35vw;
}

#lineSection {
    height: 1px;
    margin-top: 3em;
    display: grid;
    grid-template-columns: 0.03fr 0.94fr;
    grid-template-areas: ". line";
}

#line {
    grid-area: line;
    background-color: #ECECEC;
}

footer {
    width: 100%;
    padding: 1em 0;
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.2em;
    display: grid;
    grid-template-columns: 0.1fr 0.6fr 0.6fr 0.2fr 0.15fr 0.2fr 0.2fr 0.1fr 0.1fr;
    grid-template-areas: ". website . resume email linkedIn instagram github .";
    text-shadow: 2px 2px 2px rgb(77, 77, 77);
}
footer a {
    text-decoration: none;
    color: #ECECEC;
}

.footerLink {
    font-family: 'Oswald', sans-serif;
}
.footerLink:hover {
    font-weight: bold;
    text-decoration: underline;
    color: rgb(233, 156, 14);
}

#mainWebsite {grid-area: website;}
#resume {grid-area: resume;}
#email {grid-area: email;}
#linkedIn {grid-area: linkedIn;}
#instagram {grid-area: instagram;}
#github {grid-area: github;}

#form1 {
    background: linear-gradient(180deg, rgb(236, 236, 236) 0%, rgba(131,169,132,1) 100%);
}
form {
    display: grid;
    grid-template-columns: 2vw 10vw 0vw 17vw 0vw;
    grid-template-rows: 3vw auto auto auto auto;
    row-gap: 1vw;
    grid-template-areas: 
        ". formTitle . . ."
        ". formName . nameBox ."
        ". formEmail . emailBox ."
        ". formMessage . textBox ."
        ". . . submit .";
}

.formText {
    align-self: center;
    font-family: 'Oswald', sans-serif;
}

.formInput {
    height: 5vh;
    align-self: center;
    border-radius: 0.5em;
    padding-left: 5px;
    font-family: 'Oswald', sans-serif;
}

#textBox {
    align-self: center;
    border-radius: 0.5em;
    padding-left: 5px;
    font-family: 'Oswald', sans-serif;
}

#submit {
    border-radius: 0.5em;
    font-family: 'Oswald', sans-serif;
}

#formTitle {
    grid-area: formTitle;
    font-weight: bold;
    text-decoration: underline;
}
#formName {grid-area: formName;}
#formEmail {grid-area: formEmail;}
#formMessage {grid-area: formMessage;}
#nameBox {grid-area: nameBox;}
#emailBox {grid-area: emailBox;}
#textBox {grid-area: textBox;}
#submit {grid-area: submit;}

@media screen and (max-width: 800px) {
    body {
        overflow-x: hidden;
    }
    #logo {
        height: 2em;
        width: 4em;
    }
    nav {
        display: grid;
        grid-template-columns: 30vw 70vw;
    }
    #navbar {
        width: 55vw;
        font-size: 1em;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 5vw;
    }
    #titles {
        padding-left: 10vw;
    }
    h1 {
        font-size: 9vw;
        margin-bottom: -0.5em;
    }
    h2 {
        font-size: 5vw;
    }
    #intro {
    grid-template-columns: 10vw auto auto 35vw 1vw;
    grid-template-rows: auto;
    grid-template-areas:
        ". portrait . . ."
        ". portrait . sound ."
        ". portrait . soundText ."
        ". portrait . . ."
        ". introText introText introText ."
        ". introText introText introText ."
        ". introText introText introText .";
    }
    #portrait {
        height: 45vw;
    }
    #introText {
        font-size: 5vw;
    }
    #sound {
        width: 10vw;
    }
    #soundText {
        font-size: 3vw;
    }
    #contact {
        grid-template-columns: 5vw 95vw;
    }
    #contactGroup {
        width: 92.5vw;
        height: 45vw;
    }
    #contactGroup h1 {
        padding-left: 5vw;
        font-size: 8vw;
    }
    #contactGroup h2 {
        padding-left: 5.9vw;
        font-size: 5vw;
    }
    #contactItemsSection {
        padding-left: 0;
        display: grid;
        grid-template-columns: 5vw 10vw 10vw 10vw;
        grid-template-areas:
            ". emailIcon contactEmail ."
            ". instagramIcon contactInstagram ."
            ". formIcon contactForm .";
    }
    .contactItems {
        padding-left: 2vw;
        margin: 1vw auto;
        width: 70vw;
        font-size: 4.5vw;
    }
    .contactIcons img {
        width: 10vw;
    }
    #caseStudiesSection {
        margin: 0 0 0 10vw;
    }
    #impactCaseStudy {
        width: 70vw;
    }
    #design {
        grid-template-columns: 5vw 95vw;
    }
    #designSection {
        width: 92.5vw;
        grid-template-columns: 2.7fr 6fr 5fr;
        grid-template-rows: auto;
        grid-template-areas:
            ". design ."
            ". logIn ."
            ". workOut ."
            ". penguin .";
    }
    .designItems {
        width: 70vw;
    }
    #designSection a {
        width: 70vw;
    }
    #webdesign {
        margin: 0 0 0 10vw;
    }
    #webdesignSection {
        margin-left: 0;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 1.2fr 1.2fr 1.2fr 0.5fr; 
        grid-template-areas:
            "title"
            "impact"
            "sourdough"
            "bakery"
            "wee";
    }
    #webdesignSection h1 {
        font-size: 7vw;
    }
    #webdesignSection a, #webdesignSection img {
        width: 75vw;
    }
    footer {
        width: 100%;
        padding: 1em 0;
        grid-template-columns: 10vw 1fr 1fr 2fr;
        grid-template-rows: 13vw auto auto;
        grid-template-areas:
            ". website website website"
            ". resume . instagram"
            ". email . github"
            ". linkedIn . .";
    }
    footer a {
        font-size: 5vw;
    }
    form {
        display: grid;
        grid-template-columns: 0vw 60vw 0vw;
        grid-template-rows: 10vw 5vw 12vw 15vw 5vw 12vw 15vw;
        row-gap: 1vw;
        grid-template-areas: 
            ". formTitle ."
            ". formName ."
            ". nameBox ."
            ". formEmail ."
            ". emailBox ."
            ". formMessage ."
            ". textBox ."
            ". submit .";
    }
}