body {
    margin: 0 auto;
    background: linear-gradient(180deg, #282828 0%, rgba(255, 255, 255, 0) 100%), #171717;
}

nav {
    display: flex;
    justify-content: space-between;
    background: #F0F0F0;
    padding: 0.5em 1em;
}

#logo {
    height: 4em;
    width: 8em;
}

#navbar {
    width: 20vw;
    font-size: 1.2em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#navbar a {
    font-family: 'Titillium Web', sans-serif;
    text-decoration: none;
    color: #171717;
}

#titles {
    color: #FFFFFF;
    padding-left: 10em;
}

h1 {
    font-family: 'Titillium Web', sans-serif;
    font-weight: normal;
    font-size: 5em;
    margin-bottom: -0.5em;
}

h2 {
    font-family: 'Oswald', sans-serif;
    font-weight: normal;
    font-size: 3em;
}

#intro {
    display: grid;
    width: 70%;
    grid-template-columns: 10em auto 10em 35em 2em;
    grid-template-rows: auto;
    grid-template-areas:
        ". . . introText ."
        ". portrait . introText ."
        ". sound . introText ."
        ". soundText . introText ."
        ". . . introText .";
}

#intro p {
    color: #FFFFFF;
}

#portrait {
    grid-area: portrait;
}

#sound {
    width: 3em;
    padding: 0.5em;
    grid-area: sound;
    justify-self: center;
    margin-top: 1em;
    background: linear-gradient(162deg, rgba(15,1,1,1) 0%, rgba(58,65,69,1) 35%, rgba(13,0,0,1) 100%);
    border-radius: 2em;
}

#soundText {
    font-family: 'Titillium Web', sans-serif;
    grid-area: soundText;
    justify-self: center;
}

#introText {
    font-family: 'Oswald', sans-serif;
    font-weight: lighter;
    font-size: 3em;
    grid-area: introText;
}

#contact {
    display: grid;
    grid-template-areas: ". content";
    grid-template-columns: 10vw 90vw;
}

#contactGroup {
    height: auto;
    width: 88.7vw;
    background-color: #F0F0F0;
    grid-area: content;
    border-radius: 0.5em 0 0 0.5em;
    padding-bottom: 5.5em;
}

#contactGroup h1 {
    padding-left: 1em;
}

#contactGroup h2 {
    padding-left: 2.7em;
    font-size: 2em;
}

#contactGroup span {
    font-weight: bold;
}

#contactItemsSection {
    padding-left: 2em;
    display: grid;
    grid-template-columns: 3em 5em auto auto;
    grid-template-areas:
        ". emailIcon contactEmail ."
        ". instagramIcon contactInstagram ."
        ". formIcon contactForm .";
}

.contactItems {
    background: #D6D6D6;
    padding-left: 0.5em;
    margin: 5px 0;
    font-family: 'Oswald', sans-serif;
    width: 18em;
    font-size: 2em;
    border-radius: 0.2em;
}

#contactEmail {
    grid-area: contactEmail;
}

#contactInstagram {
    grid-area: contactInstagram;
}

#contactForm {
    grid-area: contactForm;
}

#contactEmailIcon {
    grid-area: emailIcon;
}

#contactInstagramIcon {
    grid-area: instagramIcon;
}

#contactFormIcon {
    grid-area: formIcon;
}

#caseStudiesSection {
    color: #FFFFFF;
    margin: -3em 0 0 15.8vw;
}

#impactCaseStudy {
    margin: 3.5em 0 3em 0em;
    width: 27vw;
}
#design {
    margin: 0 0 3em 0;
    display: grid;
    grid-template-areas: ". content";
    grid-template-columns: 10vw 90vw;
}

#designSection {
    grid-area: content;
    width: 88.7vw;
    background-color: #F0F0F0;
    border-radius: 0.5em 0 0 0.5em;
    display: grid;
    grid-template-columns: 2.7fr 10fr 6fr 10fr 5fr;
    grid-template-rows: 0.8fr 2fr 2fr;
    grid-template-areas:
        ". design . . ."
        ". logIn . penguin ."
        ". workOut . . .";
    row-gap: 1em;
    padding-bottom: 5em;
}

.designItems {
    width: 25em;
}

#designSection a {
    width: 25em;
}

#designSection h1 {
    grid-area: design;
}
#loginDesign {
    grid-area: logIn;
}
#penguinDesign {
    grid-area: penguin;
}
#workoutDesign {
    grid-area: workOut;
}

#webdesign {
    margin: 0 0 0 8em;
}

#webdesignSection {
    margin-left: 5em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr 2fr 2fr; 
    grid-template-areas:
        "title title"
        "impact sourdough"
        "bakery wee "
        "podcast .";
    row-gap: 5vw;
}

#webdesignSection h1 {
    color: #ECECEC;
    grid-area: title;
}
#impactDesign {grid-area: impact;}
#sourdoughDesign {grid-area: sourdough;}
#bakeryDesign {grid-area: bakery;}
#weeDesign {grid-area: wee;}
#podcastDesign {grid-area: podcast;}

#webdesignSection a, #webdesignSection img {
    width: 35vw;
}

#lineSection {
    height: 1px;
    margin-top: 3em;
    display: grid;
    grid-template-columns: 0.03fr 0.94fr;
    grid-template-areas: ". line";
}

#line {
    grid-area: line;
    background-color: #ECECEC;
}

footer {
    width: 100%;
    padding: 1em 0;
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.2em;
    display: grid;
    grid-template-columns: 0.1fr 0.4fr 0.6fr 0.2fr 0.15fr 0.2fr 0.2fr 0.1fr 0.1fr;
    grid-template-areas: ". website . resume email linkedIn instagram github .";
}
footer a {
    text-decoration: none;
    color: #ECECEC;
}

#mainWebsite {grid-area: website;}
#resume {grid-area: resume;}
#email {grid-area: email;}
#linkedIn {grid-area: linkedIn;}
#instagram {grid-area: instagram;}
#github {grid-area: github;}

@media screen and (max-width: 800px) {
    #logo {
        height: 2em;
        width: 4em;
    }

    #navbar {
        display: none;
    }

    #titles {
        padding-left: 10vw;
    }

    h1 {
        font-size: 9vw;
        margin-bottom: -0.5em;
    }
    
    h2 {
        font-size: 5vw;
    }

    #intro {
    grid-template-columns: 10vw auto auto 35vw 1vw;
    grid-template-rows: auto;
    grid-template-areas:
        ". portrait . . ."
        ". portrait . sound ."
        ". portrait . soundText ."
        ". portrait . . ."
        ". introText introText introText ."
        ". introText introText introText ."
        ". introText introText introText .";
    }

    #portrait {
        height: 45vw;
    }

    #introText {
        font-size: 5vw;
    }
    #sound {
        width: 10vw;
    }

    #soundText {
        font-size: 3vw;
    }

    #contact {
        grid-template-columns: 5vw 95vw;
    }

    #contactGroup {
        width: 90.5vw;
        height: 45vw;
    }

    #contactGroup h1 {
        padding-left: 5vw;
        font-size: 8vw;
    }
    
    #contactGroup h2 {
        padding-left: 5.9vw;
        font-size: 5vw;
    }
    #contactItemsSection {
        padding-left: 0;
        display: grid;
        grid-template-columns: 5vw 10vw 10vw 10vw;
        grid-template-areas:
            ". emailIcon contactEmail ."
            ". instagramIcon contactInstagram ."
            ". formIcon contactForm .";
    }
    .contactItems {
        padding-left: 2vw;
        margin: 1vw auto;
        width: 70vw;
        font-size: 4.5vw;
    }
    .contactIcons {
        width: 10vw;
    }
    #caseStudiesSection {
        margin: 0 0 0 10vw;
    }
    #impactCaseStudy {
        width: 70vw;
    }
}